
# ignore 3rd party errors
common --per_file_copt=external/.*@-w
common --host_per_file_copt=external/.*@-w
common --verbose_failures

build --cxxopt="-std=c++20"

test --test_output=errors

try-import %workspace%/user.bazelrc

